.fixed_footer{
    width: 100%;
    height: 35px;
    background: rgb(37, 36, 36);
    position: fixed; left: 0; bottom: 0;
    text-align: center;
  }

.fixed_footer span{
    color: whitesmoke;
    font-size: 1em;
    font-weight: 300;
}

.content{
    padding-top: 6px;
}

.header {
    background: rgb(37, 36, 36);
    margin-bottom: 2%;
}

h2 {
    color: whitesmoke
}